<h1>Listing marathon_runners</h1>

<table>
  <tr>
    <th>Marathon</th>
    <th>Runners</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @marathon_runners.each do |marathon_runner| %>
  <tr>
    <td><%= marathon_runner.marathon_id %></td>
    <td><%= marathon_runner.runners_id %></td>
    <td><%= link_to 'Show', marathon_runner %></td>
    <td><%= link_to 'Edit', edit_marathon_runner_path(marathon_runner) %></td>
    <td><%= link_to 'Destroy', marathon_runner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Marathon runner', new_marathon_runner_path %>
